

body{
  background-color: antiquewhite;
}

.container{
  margin: 0px;
  height: 200px;
  width: 600px;

  text-align: center;
}
#todos{

  display: flexbox;
  width: 600px;
  height: 300px;
  padding: 30px;
  background-color: darkgray;
  margin-left: 400px;
  margin-top: 30px;
  text-align: center;
  
}

#todo_form{
display: flex;
}
h3,h4{
  text-align: justify;
}